<div style="display: flex; align-items: flex-start;">
    <!-- Formulário de pesquisa à esquerda -->
    <div style="flex: 1;">
        <h1>Designers Collections</h1>
        <form action="/designers_collections" method="get">
            <label for="designer_id">Designer ID:</label>
            <input type="text" name="designer_id" value="{{ designer_id }}"><br><br>

            <label for="collections_id">Collection ID:</label>
            <input type="text" name="collections_id" value="{{ collections_id }}"><br><br>

            <label for="contribution_percentage">Contribution %:</label>
            <input type="text" name="contribution_percentage" value="{{ contribution_percentage }}"><br><br>

            <button type="submit">Pesquisar</button>
        </form>

        {% if designers_collections %}
            <h2>Resultados:</h2>
            {% for dc in designers_collections %}
                <p>Designer ID: {{ dc.designer_id }} | Collection ID: {{ dc.collections_id }} | Contribution %: {{ dc.contribution_percentage }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Imagem à direita -->
    <div style="flex: 1; text-align: center;">
        <img src="{{ url_for('static', filename='images/designers_collections.jpg') }}" alt="Designers Collections Image"
             style="max-width:300px; height:auto; margin-top:50px; margin-left:-1200px;">
    </div>
</div>



